{% extends "base.html" %}
    {% block content %}
    <section id="department-hero">
        <h1 class="title stg-E1">ELECTRONICS & COMPUTER ENGINEER</h1>
        <p class="paragraph stg-E1"> Today, taking a specific car in picture, one can say that 70% of the cost goes
            towards
            electronic components and the rest goes to non electronic parts such as body, powertrain etc. Electronics
            and Computer Engineers will be responsible for design and development of all the Low Voltage Components like
            PCB, Arduino, DAQ, and driver interface. It's a cross-functional and multidisciplinary department which
            focuses mainly on information & data tracking as well as simplifying the tasks. Apart from this, the team is
            constantly working on implementing autonomous driving into the vehicle. </p>
        <div class="gradientOverlay"></div>
    </section>
    <section id="responsibility">
        <h2 class="subtitle stg-E2">What You'll Do</h2>
        <div class="line stg-E2"></div>
        <div>
            <ul>
                <li class="stg-E2">Electronics engineer will be responsible for designing and troubleshooting PCBs,
                    Arduino, Raspberry Pi and HMI. </li>
                <li class="stg-E2">Computer engineer will be responsible for developing algorithms and implementing
                    automation wherever necessary.</li>
                <li class="stg-E2">You will research on data acquisition and driver assistance systems, and work on its
                    implementation </li>
                <li class="stg-E2">You have a strong passion to code and also have an innovative approach to solve
                    problems. Analytical and reasoning ability is a must.</li>
            </ul>
        </div>
        <span class="btn2 stg-E2">
            <a href="/recruitment">Apply</a><i class="fa-solid fa-arrow-right"></i>
        </span>
    </section>
{% endblock %}
{% block script %}
    <script src="../../static/js/department.js"></script>
{% endblock %}
