{% extends "base.html" %}
{% block title %}
Career@Electrical
{% endblock %}
    {% block content %}
    <section id="department-hero">
        <h1 class="title stg-E1">ELECTRICAL</h1>
        <p class="paragraph stg-E1">The nervous system of the entire electric vehicle anatomy, this team's major work lies in the powertrain and energy source. This includes lithium battery, motor controller and motor, solar panels, car lights, and waterproof connections. Additionally, they test battery packs, work on the motor, design driver circuits, develop and design the wiring system, power electronics circuit design, ensure safety standards in wiring and… you get it… the list goes on. </p>

        <div class="gradientOverlay"></div>
    </section>
    <section id="responsibility">
        <h2 class="subtitle stg-E2">What You'll Do</h2>
        <div class="line stg-E2"></div>
        <div>
            <ul>
                <li class="stg-E2">You have the basic understanding of wiring and circuit designing. </li>
                <li class="stg-E2">You have the curiosity to understand and gain in-depth knowledge of all the
                    components that goes into the vehicle. </li>
                <li class="stg-E2">You are a team player and can collaborate with mechanical teams and also other clubs. </li>
                <li class="stg-E2">You will be the go-to person and have the ability to solve problems in any condition. </li>
            </ul>
        </div>
        <span class="btn2 stg-E2">
            <a href="/recruitment">Apply</a><i class="fa-solid fa-arrow-right"></i>
        </span>
    </section>
    {% endblock %}
    {% block script %}
        <script src="../../static/js/department.js"></script>
    {% endblock %}