{% extends "base.html" %}
{% block title %}
Career@Management
{% endblock %}
    {% block content %}
    <section id="department-hero">
        <h1 class="title stg-E1">Organization</h1>
        <p class="paragraph stg-E1">
            Management and organizational roles of a Student team comprises of the management of people, resources and
            technical direction to maintain the core positive attributes of the team whilst continually generating
            progress and pushing boundaries on every level. Although, the key members of this department will be the
            project leads, it also includes creative design sponsorships, media and  marketing.  
        </p>
        <div class="gradientOverlay"></div>
    </section>
    <section id="responsibility">
        <h2 class="subtitle stg-E2">What You'll Do</h2>
        <div class="line stg-E2"></div>
        <div>
            <ul>
                <li class="stg-E2">Marketing: Taking care of all the Monetary associations with sponsors and
                    also Technical associations with various leading industries in their genre. </li>
                <li class="stg-E2">Media: Managing the engagement of all social media platforms and keeping the content
                    up-to-date. Having a creative outlook and an eye for detail is what we are looking for. </li>
                <li class="stg-E2">Web and Creatives: Looking after the all the creatives required throughout the year
                    apart from the actual design. </li>
                <li class="stg-E2">Excellent communication skills, dedication and passionate about what you do are the
                    prerequisites of this department.</li>
            </ul>
        </div>
        <span class="btn2 stg-E2">
            <a href="/recruitment">Apply</a><i class="fa-solid fa-arrow-right"></i>
        </span>
    </section>
    {% endblock %}
    {% block script %}
        <script src="../../static/js/department.js"></script>
    {% endblock %}