<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../../static/images/White.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../../static/css/app.css">
    <title>Career@Mechanical</title>
</head>

<body>
    {% include 'navbar.html' %}
    <section id="department-hero">
        <h1 class="title stg-E1">MECHANICAL ENGINEER</h1>
        <p class="paragraph stg-E1">The Mechanical Engineering team designs and manufactures the entire mechanical
            system of the car including the suspension, steering, chassis, gearbox and braking systems. They
            account for the ballast and weight distribution when making all of their design decisions. They are also the
            "jack-of-all-trades," balancing all the needs of other subsystems. Electrical team needs a place to mount
            the
            battery? No problem - we got that covered.</p>
        <div class="gradientOverlay"></div>
    </section>
    <section id="responsibility">
        <h2 class="subtitle stg-E2">What You'll Do</h2>
        <div class="line stg-E2"></div>
        <div>
            <ul>
                <li class="stg-E2">You will be responsible for designing and analysing various parts, assemblies and
                    subsystems of the car, from scratch.</li>
                <li class="stg-E2">You are an independent learner and always seek guidance.</li>
                <li class="stg-E2">You have a strong passion to experiment, explore, iterate and work until the goal is
                    met. </li>
                <li class="stg-E2">You have excellent communication skills and harness team culture.</li>
            </ul>
        </div>
        <span class="btn2 stg-E2">
            <a href="/recruitment">Apply</a><i class="fa-solid fa-arrow-right"></i>
        </span>
    </section>
    {% include 'footer.html' %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.2/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.2/ScrollTrigger.min.js"></script>
    <script src="../../static/js/department.js"></script>
</body>

</html>