@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@300;400;500;700&display=swap");
:root {
  --black: #323232;
  --blue: #1699ad;
  --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  --heading:3rem;
  --easeout:cubic-bezier(.26,.62,.45,.88);
}

* {
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: "Poppins", sans-serif;
transition: 0.2s all linear;
}
html{
    scroll-behavior: smooth;
}
body {
background-color: var(--black);
}
.section {
    padding: 2rem 10%;
}
.underline{
    display: block;
    width: 70%;
    height: 2px;
    margin: 0 auto;
    transform: scaleX(0);
    transition: all 1s var(--easeout);
}


/* Navbar starts */
header {
position: fixed;
z-index: 1000;
top: 0;
left: 0;
right: 0;
padding: 0.5rem 4%;
display: flex;
justify-content: space-between;
align-items: center;
}

header .logo {
font-family: "Montserrat", sans-serif;
display: flex;
align-items: center;
font-size: 2rem;
cursor: pointer;
}

header .logo svg {
width: 1.5em;
padding: 0.2em;
height: auto;
fill: white;
}

header a {
text-transform: uppercase;
color: white;
text-decoration: none;
font-weight: 600;
}

header nav a {
/* border: 1px solid white; */
color: #fff;
padding: 0.5em 1.5em;
border-radius: 0.5em;
}

header nav a:hover {
background-color: var(--blue);
color: var(--black);
}

header .cta {
padding: 0.2em 1.2em;
border-radius: 5em;
border: 0.1em solid var(--blue);
}

header .cta:hover {
background-color: rgba(0, 234, 255, 0.2);
transform: translateY(-0.1em);
}

.sticky {
background-color: var(--black);
}

/* Home section */

#home {
position: relative;
}
#home h1 {
/* border: 1px solid white; */
width: 100%;
text-align: center;
color: #fff;
text-transform: uppercase;
font-family: "Montserrat", sans-serif;
font-size: 5rem;
font-weight: 700;
position: absolute;
z-index: 10;
top: 50%;
left: 50%;
transform: translateY(-40%) translateX(-50%);
animation: landing-h1 1s var(--easeout) forwards;
}

#home .carbg {
/* this is to fix white space below car bg */
display: block;
width: 100%;
}

#home .darkoverlay {
position: absolute;
inset: 0;
opacity: 0%;
/* black overlay */
background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.5) 0%,
        rgba(0, 0, 0, 0) 100%
    );
animation: landing-overlay 1.5s var(--easeout) forwards;
}

#home .car {
position: absolute;
z-index: 100;
left: 0;
bottom: 0;
width: 100%;
}

/* About us section */

#about{
    overflow: hidden;
    background-color: var(--black);
    /* position: relative; */
    /* z-index: 100; */
    /* padding:1em 0; */
    /* transform: translateY(-5rem); */
}
.aboutSubtitle{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--blue);
}
.aboutTitle{
    /* border:1px solid blue; */
    display: contents;
    display: table;
    margin: 0 auto;
    line-height: 1;
    font-size: var(--heading);
    color: white;
    text-align: center;
}

.aboutTitle .underline {
    background-color: #fff;
}
#about img{
    display:block;
    width:85%;
    margin: 1em auto;
}

#about .paragraph{
    color:#fff;
    text-align: center;
    font-size: 1.2rem;
    line-height: 2;
}
/* About us ends */

/* departments starts */
#department{
    overflow: hidden;
    background-color: whitesmoke;
    position: relative;
    z-index: 100;
    /* transform: translateY(-5rem); */
}
.departmentSubtitle{
    /* display: inline; */
    margin-top:0.5em 0;
    padding: 0.2em 0.5em;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
    /* background-color: var(--black); */
    /* color: var(--blue); */
    color: #008296;
}
.departmentTitle{
    display:table;
    margin:0 auto;
    line-height: 1;
    font-size: var(--heading);
    color: var(--black);
    text-align: center;
}

.departmentTitle .underline {
    background-color: #323232;
}


#department .box-container{
    margin:3rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 3rem;
}

#department .box-container .box{
    text-align: center;
    border-radius: 1rem;
    padding:3rem;
    box-shadow: var(--box-shadow);
    background-color: white;
}
#department .box img{
    height:7rem;
    color: #00eaff;
}

#department .box h3{

    margin:3rem 0 0rem;
    font-size: 1.7rem;
}

#department .box p{
    font-size: 1rem;
    line-height: 2;
    color:#969696;
    /* color:#5f5f5f; */
}

#department .box:hover{
    background-color: var(--black);
    cursor: pointer;
}


#department .box:hover h3,
#department .box:hover p{
    color:white;
}

#department .box:hover img{
    filter: invert(100%);
}
/* department */

/* contact */
#contact{
    background-color: var(--black);
}

#contact .contactSubtitle{
    margin-top:0.5em 0;
    padding: 0.2em 0.5em;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--blue);
}

#contact .contactTitle{
    display:table;
    margin:0 auto 0.5em;
    line-height: 1;
    font-size: var(--heading);
    color: white;
    text-align: center;
}

#contact .contactTitle .underline{
    background-color: white;
}

#contact .box-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap:3rem;
    margin:2em 0;
}

#contact .box-container .box{
    width:30rem;
}

#contact .box-container .box h3{
    font-size: 1.2rem;
    color: white;
}

#contact .box-container .box p{
    color: #5f5f5f;
    margin: 0.5rem 0;
}

#contact .box-container form{
    flex:1 1 40rem;
}

#contact .box-container form .inputBox{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#contact .box-container form .inputBox input,
#contact .box-container form .inputBox select{
    width:49%;
}


#contact .box-container form .inputBox input::placeholder,
#contact .box-container form textarea::placeholder{
    color:#5f5f5f;
}

#contact .box-container form .inputBox input,
#contact .box-container form textarea,
#contact .box-container form select{
    font-size: 1.2rem;
    outline:none;
    border: none;
    color:white;
    background: transparent;
    border-bottom: 2px solid #5f5f5f;
    padding:0.5rem 1rem;
    margin:1rem 0;
}



#contact .box-container form .inputBox select option{
    background: var(--black);
    color: #5f5f5f;
}

#contact .box-container form .inputBox input:valid,
#contact .box-container form textarea:valid,
#contact .box-container form .inputBox input:focus,
#contact .box-container form textarea:focus,
#contact .box-container form .inputBox select:focus,
#contact .box-container form .inputBox select:valid{
    border-bottom:2px solid #fff;
}


#contact .box-container form textarea{
    width:100%;
    resize:none;
    height:15rem;
}

#contact .box-container form .btn{
    padding: 0.7em 1.5em;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #fff;
    background-color: var(--black);
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

#contact .box-container form .btn:hover {
background-color: rgb(0, 191, 208);
box-shadow: 0px 15px 20px rgba(0, 191, 208, 0.2);
color: #fff;
transform: translateY(-5px);
}
#contact .box-container form .btn:active {
transform: translateY(-1px);
}
/* contact */

/* footer */
footer{
    text-align:center;
}

footer .socials a{
    font-size: 2rem;
    color:#fff;
    font-weight: 700;
    padding:1em;
    margin: 0.5em;
    cursor: pointer;
}
footer .socials a:hover{
    color:var(--blue);
}

footer .footerBottom{
    background-color: rgb(34, 34, 34);
    color:white;
    padding:0.5em 0;
    margin-top:1em;
}
footer .footerBottom a{
    text-decoration: none;
    color:var(--blue);
}


@keyframes landing-h1 {
    100%{
        top:25%;
    }
}

@keyframes landing-overlay {
    100%{
        opacity: 100%;
    }
}