{% extends "base.html" %}
{% block stylesheet %}
<link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
<link rel="stylesheet" href="../../static/css/lightbox.css">
{% endblock %}
{% block title %}
Raptor v2.0
{% endblock %}
{% block content %}
<section class="car-hero raptor2">
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide ">
                <div class="content">
                    <h1>AIR 3</h1>
                    <span>ESVC season 8</span>
                </div>
            </div>
            <div class="swiper-slide ">
                <div class="content">
                    <h1>AIR 17</h1>
                    <span>ESVC virtual rounds</span>
                </div>
            </div>
            <div class="swiper-slide ">
                <div class="content">
                    <h1>AIR 17</h1>
                    <span>ESVC virtual rounds</span>
                </div>
            </div>
            <div class="swiper-slide ">
                <div class="content">
                    <h1>AIR 17</h1>
                    <span>ESVC virtual rounds</span>
                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</section>
<section class="car-details">
    <h1 class="title">Raptor v2.0</h1>
    <div class="para-container">
        <p>This car featured an aerodynamic body, a lighter chassis with an aggressive stance to give sharper turning
            confidence at track and flexibility at roads.
            In terms of innovation, it had active sensors throughout the body and semi-to-total autonomous driveability. 
        The aim was to build an old-fashioned car equipped with all the modern features of an electric vehicle - a track car disguised as a vintage classic. </p>

    </div>
</section>
<section class="news">
    <h1 class="subtitle stg">News</h1>
    <div class="line stg"></div>
    <ul>
        <li class="stg">
            <a href="">
                <div class="time">
                    <h2>24</h2>
                    <span>June</span>
                </div>
                <div class="details">
                    <h3>BBC news</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente iste id explicabo laboriosam
                        est nihil, corporis eius expedita debitis! Et.</p>
                </div>
            </a>
        </li>
        <li class="stg">
            <a href="">
                <div class="time">
                    <h2>24</h2>
                    <span>June</span>
                </div>
                <div class="details">
                    <h3>BBC news</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente iste id explicabo laboriosam
                        est nihil, corporis eius expedita debitis! Et.</p>
                </div>
            </a>
        </li>
        <li class="stg">
            <a href="">
                <div class="time">
                    <h2>24</h2>
                    <span>June</span>
                </div>
                <div class="details">
                    <h3>BBC news</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente iste id explicabo laboriosam
                        est nihil, corporis eius expedita debitis! Et.</p>
                </div>
            </a>
        </li>
    </ul>
</section>
<section class="gallery">
    <h1 class="subtitle stg">Gallery</h1>
    <div class="line stg"></div>
    <div class="box-container">
        <a class="stg" href="../../static/images/IMG_6480.JPG" data-lightbox="models" data-title="custom caption">
            <img src="../../static/images/IMG_6480.JPG" alt="">
        </a>
        <a class="stg" href="../../static/images/IMG_6535.JPG" data-lightbox="models" data-title="custom caption">
            <img src="../../static/images/IMG_6535.JPG" alt="">
        </a>
        <a class="stg" href="../../static/images/IMG_6537.JPG" data-lightbox="models" data-title="custom caption">
            <img src="../../static/images/IMG_6537.JPG" alt="">
        </a>
        <a class="stg" href="../../static/images/IMG_6595.JPG" data-lightbox="models" data-title="custom caption">
            <img src="../../static/images/IMG_6595.JPG" alt="">
        </a>
        <a class="stg" href="../../static/images/IMG_6944.JPG" data-lightbox="models" data-title="custom caption">
            <img src="../../static/images/IMG_6944.JPG" alt="">
        </a>
        <a class="stg" href="../../static/images/IMG_6640.JPG" data-lightbox="models" data-title="custom caption">
            <img src="../../static/images/IMG_6640.JPG" alt="">
        </a>

    </div>

</section>
{% endblock %}

{% block script %}
<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
<script src="../../static/js/lightbox-plus-jquery.js"></script>
<script src="../../static/js/cars.js"></script>
{% endblock %}