<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raptor v1.0</title> 
    <link
    rel="stylesheet"
    href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="../../static/css/app.css">
    <link rel="stylesheet" href="../../static/css/lightbox.css">
</head>
<body>
    {% include 'navbar.html' %}
    
    <section class="car-hero raptor1">
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                
                <div class="swiper-slide ">
                    <div class="content">
                        <h1>AIR 3</h1>
                        <span>ESVC season 8</span>
                    </div>
                </div>
                <div class="swiper-slide ">
                    <div class="content">
                        <h1>AIR 17</h1>
                        <span>ESVC virtual rounds season 7</span>
                    </div>
                </div>
                <div class="swiper-slide ">
                    <div class="content">
                        <h1>AIR 6</h1>
                        <span>ESVC pre-virtual rounds season 7</span>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </section>
    <section class="car-details">
        <h1 class="title">Raptor v1.0</h1>
        <div class="para-container">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero accusantium nihil rerum sed, pariatur dolores est soluta assumenda possimus ex!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero accusantium nihil rerum sed, pariatur dolores est soluta assumenda possimus ex!</p>
        </div>
    </section>
    <section class="news">
        <h1 class="subtitle stg">News</h1>
        <div class="line stg"></div>
        <ul>
            <li class="stg">
                <a href="">
                    <div class="time">
                        <h2>24</h2>
                        <span>June</span>
                    </div>
                    <div class="details">
                        <h3>BBC news</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente iste id explicabo laboriosam est nihil, corporis eius expedita debitis! Et.</p>
                    </div>
                </a>
            </li>
            <li class="stg">
                <a href="">
                    <div class="time">
                        <h2>24</h2>
                        <span>June</span>
                    </div>
                    <div class="details">
                        <h3>BBC news</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente iste id explicabo laboriosam est nihil, corporis eius expedita debitis! Et.</p>
                    </div>
                </a>
            </li>
            <li class="stg">
                <a href="">
                    <div class="time">
                        <h2>24</h2>
                        <span>June</span>
                    </div>
                    <div class="details">
                        <h3>BBC news</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente iste id explicabo laboriosam est nihil, corporis eius expedita debitis! Et.</p>
                    </div>
                </a>
            </li>
        </ul>
    </section>
    <section class="gallery">
        <h1 class="subtitle stg">Gallery</h1>
        <div class="line stg"></div>
        <div class="box-container">
                <a class="stg" href="../../static/images/20211228_123528.jpg" data-lightbox="models" data-title="custom caption">
                    <img src="../../static/images/20211228_123528.jpg" alt="">
                </a>
                <a class="stg" href="../../static/images/20211228_123528.jpg" data-lightbox="models" data-title="custom caption">
                    <img src="../../static/images/20211228_123528.jpg" alt="">
                </a>
                <a class="stg" href="../../static/images/20211228_123528.jpg" data-lightbox="models" data-title="custom caption">
                    <img src="../../static/images/20211228_123528.jpg" alt="">
                </a>
                <a class="stg" href="../../static/images/20211228_123528.jpg" data-lightbox="models" data-title="custom caption">
                    <img src="../../static/images/20211228_123528.jpg" alt="">
                </a>
                <a class="stg" href="../../static/images/20211228_123528.jpg" data-lightbox="models" data-title="custom caption">
                    <img src="../../static/images/20211228_123528.jpg" alt="">
                </a>
                
        </div>

    </section>
    {% include 'footer.html' %}
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script src="../../static/js/lightbox-plus-jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.2/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.2/ScrollTrigger.min.js"></script>
    <script src="../../static/js/cars.js"></script>
</body>
</html>