{% extends "base.html" %}
{% block stylesheet %}
<link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
<link rel="stylesheet" href="../../static/css/lightbox.css">
{% endblock %}
{% block title %}
Raptor v1.0
{% endblock %}
{% block content %}

<section class="car-hero raptor1">
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">

            <!-- <div class="swiper-slide ">
                <div class="content">
                    <h1>AIR 3</h1>
                    <span>ESVC season 8</span>
                </div>
            </div> -->
            <div class="swiper-slide ">
                <div class="content">
                    <h1>AIR 17</h1>
                    <span>ESVC Virtual Round - Season 7</span>
                </div>
            </div>
            <div class="swiper-slide ">
                <div class="content">
                    <h1>AIR 6</h1>
                    <span>ESVC Pre-Virtual Round - Season 7</span>
                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</section>
<section class="car-details">
    <h1 class="title">Raptor v1.0</h1>
    <div class="para-container">
        <p>It featured a boxy mid-age design and a 360° solar panel body. In an addition to its well-equipped handling
            geometry, it had sleek scissor doors which made it look like the car of the future.
            The idea behind the machine is the brainchild of a set of dedicated students who had a vision and passion to
            make a
            practical working illustration of the future of driving.
            The main feature of the car, which made it stand out from the crowd, was it's in-house
            development of monocrystalline solar panel structure.</p>
    </div>
</section>
<section class="news">
    <h1 class="subtitle stg">News</h1>
    <div class="line stg"></div>
    <ul>
        <li class="stg">
            <a href="https://newskarnataka.com/karnataka/coastal/mangaluru/team-achillius-of-sjec-wins-national-accolades-for-its-electric-solar-vehicle/" target="_blank">
                <div class="time">
                    <h2>July 01</h2>
                    <span>2019</span>
                </div>
                <div class="details">
                    <h3>News Karnataka</h3>
                    <p>Team Achillius of SJEC wins national accolades for its Electric Solar Vehicle</p>
                </div>
            </a>
        </li>
        <li class="stg">
            <a href="https://www.deccanherald.com/state/mangaluru/team-achillius-shines-with-electric-solar-vehicle-744634.html" target="_blank">
                <div class="time">
                    <h2>July 08</h2>
                    <span>2019</span>
                </div>
                <div class="details">
                    <h3>Deccan Herald</h3>
                    <p>Team Achillius shines with Electric Solar Vehicle</p>
                </div>
            </a>
        </li>
        <li class="stg">
            <a href="https://www.daijiworld.com/news/newsDisplay.aspx?newsID=601057" target="_blank">
                <div class="time">
                    <h2>July 29</h2>
                    <span>2019</span>
                </div>
                <div class="details">
                    <h3>Daijiworld</h3>
                    <p>Mangaluru: SJEC's Electric Solar Vehicle shines in national championships</p>
                </div>
            </a>
        </li>
</section>
<section class="gallery">
    <h1 class="subtitle stg">Gallery</h1>
    <div class="line stg"></div>
    <div class="box-container">
        <a class="stg" href="../../static/images/DSC_0153.JPG" data-lightbox="models"
            data-title="custom caption">
            <img src="../../static/images/DSC_0153.JPG" alt="">
        </a>
        <a class="stg" href="../../static/images/r1.jpeg" data-lightbox="models"
            data-title="custom caption">
            <img src="../../static/images/r1.jpeg" alt="">
        </a>
        <a class="stg" href="../../static/images/DSC_0245.JPG" data-lightbox="models"
            data-title="custom caption">
            <img src="../../static/images/DSC_0245.JPG" alt="">
        </a>
        <a class="stg" href="../../static/images/DSC_0042.JPG" data-lightbox="models"
            data-title="custom caption">
            <img src="../../static/images/DSC_0042.JPG" alt="">
        </a>
        <a class="stg" href="../../static/images/fsdc pic.png" data-lightbox="models"
            data-title="custom caption">
            <img src="../../static/images/fsdc pic.png" alt="">
        </a>

    </div>

</section>
{% endblock %}

{% block script %}
<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
<script src="../../static/js/lightbox-plus-jquery.js"></script>
<script src="../../static/js/cars.js"></script>
{% endblock %}